html {
    scroll-behavior: smooth;
  }

.principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 75, 234);
    opacity: 95%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu p{
    margin-right: 15px;
}