html {
  scroll-behavior: smooth;
}

.principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(192, 223, 255);
  opacity: 80%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  margin-right: 15px;
}
