.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.card{
    margin: 15px;
    background-color: aliceblue;
    display: block;
}